.stats-container {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #045a58 0%, #00872c 100%);
    background: -moz-linear-gradient(top left, #045a58 0%, #20ae73 100%);
    background: -o-linear-gradient(top left, #045a58 0%, #20ae73 100%);
    background: linear-gradient(to bottom right, #045a58 0%, #20ae73 100%);
        
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.chart-container {
    width: 50%;
    height: 40%;
    margin: auto;
    background-color: black;
    margin-top: 30px;
    background-color: #0000003b;
    border-radius: 5px;
    border-color: white;
}

h1 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
}

#back-button {
    margin-right: 10px;
    position: relative;
}

#playlist-button {
    position: relative;
}

.nav {    
    float: left;
    position: absolute;
    margin: 10px 20px;
}