.playlist-container {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #045a58 0%, #00872c 100%);
    background: -moz-linear-gradient(top left, #045a58 0%, #20ae73 100%);
    background: -o-linear-gradient(top left, #045a58 0%, #20ae73 100%);
    background: linear-gradient(to bottom right, #045a58 0%, #20ae73 100%);
        
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.playlist-item {
    display: inline-block;
    width: 51%;
}

.song-title-link {
    text-decoration: none;
    color: white
}

.song-title-link:hover {
    text-decoration: underline;
}